## DATA PREPROCESING

In [1]:
# Inport Library
import pandas as pd

In [2]:
# Load Dataset
dataset = pd.read_csv('R02_rice_field.csv')

In [3]:
dataset

     Production (X)  Harvest Area (Y)
0        1329536.00         323589.00
1        1299699.00         329041.00
2        1382905.00         339253.00
3        1419128.00         348223.00
4        1368074.00         337561.00
..              ...               ...
219      3831923.00         390799.00
220      4090654.00         396559.00
221      2488641.91         511940.93
222      2164089.33         464103.42
223      2604913.29         545149.05

[224 rows x 2 columns]

In [4]:
# Data Prepocessing 
# Melihat 5 data pertama
dataset.head()

   Production (X)  Harvest Area (Y)
0       1329536.0          323589.0
1       1299699.0          329041.0
2       1382905.0          339253.0
3       1419128.0          348223.0
4       1368074.0          337561.0

In [5]:
# 5 data terakhir
dataset.tail()

     Production (X)  Harvest Area (Y)
219      3831923.00         390799.00
220      4090654.00         396559.00
221      2488641.91         511940.93
222      2164089.33         464103.42
223      2604913.29         545149.05

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Production (X)    224 non-null    float64
 1   Harvest Area (Y)  224 non-null    float64
dtypes: float64(2)
memory usage: 3.6 KB

In [7]:
# mengecek jumlah data yang terdapat nilai null disetiap kolom
dataset.isnull().sum()

Production (X)      0
Harvest Area (Y)    0
dtype: int64

In [8]:
# menghapus data null
dataset = dataset.dropna()

In [9]:
dataset.isnull().sum()

Production (X)      0
Harvest Area (Y)    0
dtype: int64

In [10]:
# deskripsi data
dataset.describe()

       Production (X)  Harvest Area (Y)
count    2.240000e+02        224.000000
mean     1.679701e+06     374349.966920
std      1.161387e+06     232751.161987
min      4.293800e+04      63142.040000
25%      5.488570e+05     146919.500000
50%      1.667773e+06     373551.500000
75%      2.436851e+06     514570.250000
max      4.881089e+06     872737.000000